body{
    background-color: #141212;
}

*{
    color: white;
}

html,body{
    margin: 0;
    padding: 0;
    font-family: Poppins,sans-serif;
}

a{
    text-decoration: none;
}

li{

    list-style-type: none
}

.wrapper{
    position: relative;
}

.container{
    display: flex;
    background-color: #141212;
    height: 100vh;

}

.header{
    position: relative;
    width: 100%;
    text-align: center;
}

.main {
    width: 93%;
}

.leftSide {
    width: 43%;
    min-height: 100vh;
}

.yellow::before{
    background-color: #141212;
    height: 150%;
    width: 100%;
    position: absolute;
    content: '';
    transform: rotate(-14deg);
    left: 50%;
    top: -30%;
}

.yellow{
    position: relative;
    background-color: #FFB400;
    min-height: 100vh;
    width: 90%;
    overflow: hidden;
}

.middleSide {
    width: 50%;
    min-height: 100vh;
    display: flex;
}

.rightSide {
    width: 7%;
    min-height: 100vh;
    /* position: sticky;  */
    position: fixed; 
    right: 0
}

.dot {
    /* margin-left: 35px; */
    
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: #6D6D6D;
    color: #fff;
    text-align: center;
    margin: 20px 0px 0px 0px;
    overflow: hidden;
}

.skill1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border: 10px solid #FFB400;
    padding: 30px;
    margin-left: 150px;
}

.picture{
    position: relative;
    background-color: #000000;
    min-height: 88vh;
    width: 84%;
    margin: 40px;
    border-radius: 30px;
    /* right: 56vh; */
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
}

.image1{
    position: absolute;
    bottom: 0px;
    border-radius: 30px;
}

.dot1 {
    width: 20%;
    height:110%;
    border-radius: 50%;
    background: #FFB400;
}

.head{
    min-width: 100%;
   height: 15%;
    text-align: center;
   vertical-align: middle;
   line-height: 100px;
    position: absolute;
    font-size: 50px;
    z-index:100;
    color: #FFB400;
    opacity: 100%;
    font-weight: 800;
}

#behind{
    position: absolute;
    width: 100%;
    /* vertical-align: middle;
    line-height: 90px;
    margin-left: 600px; */
    font-size: 90px;
    color: rgba(185,182,182,15);
    opacity: 0.1;
    font-weight: bold;
    display: flex;
    justify-content: center;
}


#active{
    background: #FFB400;
}

.content{
    display: flex;
    margin: 20px;
}

.content-about{
    width: 100%;
    height: 75vh;
}

#project1{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    margin: 30px;
    margin-top: 120px;
}

#project2{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    margin: 30px;
    margin-top: 120px;
}

#project3{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    margin: 30px;
    margin-top: 120px;
}

.projectImage{
    border-radius: 10px;
}

#blog1{
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 120px;
}

#blog2{
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 120px;
}

#blog3{
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 120px;
}

.blogImage{
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

.blogImage img {
    border-radius: 10px 10px 0px 0px;
}

.line{
    background-color: #FFB400;
    width: 100%;
    height: 10px;
}

.blogContent{
    background-color: #333333;
    width: 100%;
    height: 210px;
    border-radius: 0px 0px 10px 10px;
}

.information{
    min-height: 80%;
    width: 40%;
    margin: 50px;
}

.message{
    height: 50%;
    width: 60%;
    margin: 70px;
}

form{
    text-align: center;
    margin: 1000px;
}

.dot2 {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: #6D6D6D;
    color: #fff;
    text-align: center;
    margin: 20px 0px 0px 0px;
    overflow: hidden;
    margin-left: 20px;
}

input{
    background-color: #333333;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    /* position:absolute; */
    margin-bottom:20px;
}

.inputEmail{
    width: 600px;
    height: 40px;
    border-radius: 30px;
}
text{
    border-radius: 30px;
}

.personalInfo{
    width: 50%;
    height: 100%;
    background-color: #FFB400;
}

.info{
    padding: 30px;
    width: 80%;
    height: 90%;
    margin-left: 30px;
    
}

.skills{
    width: 100%;
    height: 50%;
}

.education{
    width: 100%;
    height: 50%;
}

.imagesResponsive, .imageCenter{
    display: none;
}

.smallLine{
    width: 30px; 
    height: 5px; 
    background-color: #FFB400;
    margin-top: 220px;
}

.homeContent{
    margin-left: 20px;
}

.names{
    color: #FFB400; 
    text-align: center;
    margin-top: 200px; 
    font-size:40px;
}

.software{
    color: white; 
    text-align: center;
    font-size:40px; 
    margin-right: 70px;
}

.aboutMe{
    color: white; 
    font-size: 20px; 
    line-height: 1.8;
}

.roundButton{
    margin-top: 90px; 
    border: 2px solid #FFB400; 
    border-radius: 50px; 
    display: flex; 
    width: 50%; 
    height: 50px; 
    background-color: rgb(255, 180, 0, 0);
    align-items: center;
}

.more{
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
    margin-left: 40px; 
    color: white; 
    font-weight: bold;
}

.more1{
    width: 80%;
}

.modeReponsive{
    display: none;
}

.rightSideResponsive{
    display: none;
}



@media (max-width: 992px) {
    .container{
        position: relative;
        height: unset;
    }

    .rightSide, .leftSide, .smallLine, .modeResponsive{
        display: none;
    }
    .middleSide{
        width: 100%;
        display: block;
    }

    .imagesResponsive{
        display: block;
        padding-top: 50px;
    }

    .imagesResponsive img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 2px solid #333333;
    }

    .homeContent{
        margin-left: 0px;
    }

    .imageCenter{
        display: flex;
        justify-content: center;
    }
    .names{
        margin-top: 30px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }

    .introduction{
        display: flex;
        justify-content: center;
    }

    .software{
        color: white; 
        text-align: center;
        font-size:30px; 
        margin-right: 0px;
        margin-top: -20px;
        font-weight: bold;
    }

    .aboutMe{
        text-align: center;
        color: white; 
        font-size: 18px; 
        margin-top: 40px;
        padding: 20px;
    }

    .aboutBottom{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .roundButton{
        border: 2px solid #FFB400; 
        border-radius: 50px; 
        display: flex; 
        width: 100%; 
        height: 50px; 
        background-color: rgb(255, 180, 0, 0); 
        padding: 0px 0px 0px 20px;
        margin-top: 10px;
    }

    .more{
        text-align: center;
        margin-left: 0px; 
        color: white; 
        font-weight: bold;
    }

    .more1{
        width: 80%;
    }

    .dot1 {
        width: 50px;
        height: 50px;
        border-radius: 50% ;
        background: #FFB400;
    }
    .rightSideResponsive{
        display: block;
    }

    .links ul{
        width: 100%;
        display: flex;
        position: fixed;
        left: 0;
        bottom: -15px;
        background-color: #333333;
        padding: unset;
        justify-content: space-around;
    }

    .links ul li{
        margin-bottom: 20px;
    }

    .modeReponsive{
        display: flex;
        justify-content: end;
        height: 50px;
    }

    .dotMode {
        margin: 20px 15px 0px 0px;
        
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        background: #6D6D6D;
        color: #fff;
        text-align: center;
    }
    
}

@media (max-width: 768px) {
    .aboutMe{ 
        font-size: 16px; 
    }
}

@media (max-width: 578px) {
    .aboutMe{ 
        font-size: 14px; 
    }

    .imagesResponsive img{
        width: 200px;
        height: 200px;
    }

    .links ul li{
        margin-left: 10px;
        margin-bottom: 20px;
    }
}