body{
    background-color: #141212;
}

html,body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    display: flex;

}

/* .head{
   min-width: 100vh; 
   background-color: yellow;
   height: 15%;
   text-align: center;
   vertical-align: middle;
   line-height: 90px; 
   font-size: 100px;
   color: rgba(185,182,182,25);
   position: relative;
    z-index:100;
} */
.head{
    min-width: 100%;
    /* background-color: yellow; */
   height: 15%;
    text-align: center;
   vertical-align: middle;
   line-height: 90px;
    position: absolute;
    font-size: 70px;
    z-index:100;
    color: #FFB400;
    opacity: 100%;
    font-weight: bold;
}

#behind{
    min-width: 100%;
    vertical-align: middle;
    line-height: 90px;
    margin-left: 600px;
    font-size: 90px;
    color: rgba(185,182,182,15);
    opacity: 0.2;
    font-weight: bold;
}

.yellow::before{
    background-color: #141212;
    height: 150%;
    width: 150%;
    position: absolute;
    content: '';
    transform: rotate(-14deg);
    left: 70%;
    top: -30%;
}

.yellow{
    position: relative;
    background-color: #FFB400;
    min-height: 100vh;
    width: 26.3%;
    overflow: hidden;
}

.picture{
    position: relative;
    background-color: #000000;
    min-height: 88vh;
    width: 32.5%;
    margin: 40px;
    border-radius: 30px;
    right: 56vh;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
}

img{
    position: absolute;
    bottom: 0px;
    border-radius: 30px;
}

.slideBar{
    background-color: #141212;
    min-height: 100vh;
    margin-left: 425px;
}
#active{
    background: #FFB400;
}

.dot {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: #6D6D6D;
    color: #fff;
    text-align: center;
    margin: 20px;
    overflow: hidden;
}
.dot1 {
    line-height: 25px;
    border-radius: 50px ;
    background: #FFB400;
}

/* .dot:hover{
    width: 100px;
} */

li{

    list-style-type: none
}

.container-fluid{
    background-color: #000000;
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.content-about{
    width: 91%;
    min-height: 100vh;
}

.sidebar{
    width: 9%;
    min-height: 100vh;
    background-color: #000000;
}

.abouts{
    display: flex;
    min-height: 85%;
}

.information{
    width: 40%;
    margin: 50px;
}

.experince{
    width: 60%;
    background-color: blue;
}